*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family:'poppins','sans-serif';
}
section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.txt{
  color: aliceblue;

}

.c_text{
  color: greenyellow;
}


.header{
    background-color: #1f242d;
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  nav{
          background:transparent;
          height: 80px;
          width: 100%;
        }
        img.logo{
            height: 100px;
          color: white;
          font-size: 35px;
          line-height: 80px;
          padding: 0 100px;
          font-weight: bold;
        }
        nav ul{
          float: right;
          margin-right: 20px;
        }
        nav ul li{
          display: inline-block;
          line-height: 80px;
          margin: 0 5px;
        }
        nav ul li a{
          color: white;
          font-size: 17px;
          padding: 7px 13px;
          border-radius: 3px;
          text-transform: uppercase;
        }
        a.active1,a:hover{
          text-decoration: none;
          color:greenyellow  !important; 
        }
        .checkbtn{
        
          font-size: 30px;
          color: white;
          float: right;
          line-height: 80px;
          margin-right: 40px;
          cursor: pointer;
          display: none;
        }
        #check{
          display: none;
        }
        @media (max-width: 1170px){
          label.logo{
            font-size: 30px;
            padding-left: 50px;
          }
          nav ul li a{
            font-size: 16px;
          }
        }
        @media (max-width: 858px){
      
         
      
      
          .checkbtn{
                  margin: 20px;
            display: block;
          }
          ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #2c3e50;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
          }
          nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
          }
          nav ul li a{
            font-size: 20px;
          }
          a:hover,a.active1{
            background: none;
            color: greenyellow;
          }
          #check:checked ~ ul{
            left: 0;
          }
        }
        
        .home{
            background-color: #1f242d;
            height: 100%;
            width: 100%;
            /* position: absolute; */
        }

        .gentle-hover-shake{
            border-radius: 10px;
            width: 100px;
            height: 150x;
             background: greenyellow;
             padding: 1.5rem;
             font-size: 1rem;
             display: inline-block;
             animation: gentle-hover-shake 0.35s infinite;
        }

        .gentle-hover-shake a{
            color: #1f242d;
            font-size: 20px;
        }

        @keyframes gentle-hover-shake {
            0% { transform: rotate(0deg); }
            25% { transform: rotate(5deg); }
            50% { transform: rotate(0eg); }
            75% { transform: rotate(-5deg); }
            100% { transform: rotate(0deg); }
          }

          .home_content{
            position: relative;
        /* display: flex; */
    justify-content: center;
    align-items: center;
    /* top: -55%; */
    left: 7%;
    margin-top: 130px;
          }

          .animated-button {
            margin-top: 10%;
            margin-left: 20%;
            position: relative;
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 16px 36px;
            border: 4px solid;
            border-color: transparent;
            font-size: 16px;
            background-color: inherit;
            border-radius: 100px;
            font-weight: 600;
            color: greenyellow;
            box-shadow: 0 0 0 2px greenyellow;
            cursor: pointer;
            overflow: hidden;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
          }
          
          .animated-button svg {
            position: absolute;
            width: 24px;
            fill: greenyellow;
            z-index: 9;
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
          }
          
          .animated-button .arr-1 {
            right: 16px;
          }
          
          .animated-button .arr-2 {
            left: -25%;
          }
          
          .animated-button .circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            background-color: greenyellow;
            border-radius: 50%;
            opacity: 0;
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
          }
          
          .animated-button .text {
            position: relative;
            z-index: 1;
            transform: translateX(-12px);
            transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
          }
          
          .animated-button:hover {
            box-shadow: 0 0 0 12px transparent;
            color: #212121;
            border-radius: 12px;
          }
          
          .animated-button:hover .arr-1 {
            right: -25%;
          }
          
          .animated-button:hover .arr-2 {
            left: 16px;
          }
          
          .animated-button:hover .text {
            transform: translateX(12px);
          }
          
          .animated-button:hover svg {
            fill: #212121;
          }
          
          .animated-button:active {
            scale: 0.95;
            box-shadow: 0 0 0 4px greenyellow;
          }
          
          .animated-button:hover .circle {
            width: 220px;
            height: 220px;
            opacity: 1;
          }

          .avatar {
            
           
            overflow: hidden;
           
            transform: translatey(0px);
            animation: float 6s ease-in-out infinite;
          }
          
          @keyframes float {
            0% {
              /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
              transform: translatey(0px);
            }
            50% {
              /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
              transform: translatey(-20px);
            }
            100% {
              /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
              transform: translatey(0px);
            }
          }
          
        /* about page */

        .about{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          background-color: #1f242d;
      }
      /* services */

      .services{
        background-color: #1f242d;
      }
      .card {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 320px;
        border-radius: 24px;
        line-height: 1.6;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        padding: 36px;
        border-radius: 22px;
        color: #000000;
        overflow: hidden;
        background-color: rgb(171, 255, 46);
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .content::before {
        position: absolute;
        content: "";
        top: -4%;
        left: 50%;
        width: 90%;
        height: 90%;
        transform: translate(-50%);
        background:rgba(193, 237, 127, 0.268);
        z-index: -1;
        transform-origin: bottom;
      
        border-radius: inherit;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .content::after {
        position: absolute;
        content: "";
        top: -8%;
        left: 50%;
        width: 80%;
        height: 80%;
        transform: translate(-50%);
        background:rgb(206, 234, 165);
        z-index: -2;
        transform-origin: bottom;
        border-radius: inherit;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .content svg {
        width: 48px;
        height: 48px;
      }
      
      .content .para {
        z-index: 1;
        opacity: 1;
        font-size: 18px;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .content .link {
        z-index: 1;
        color: #fea000;
        text-decoration: none;
        font-family: inherit;
        font-size: 16px;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
      }
      
      .content .link:hover {
        text-decoration: underline;
      }
      
      .card:hover {
        transform: translate(0px, -16px);
      }
      
      .card:hover .content::before {
        rotate: -8deg;
        top: 0;
        width: 100%;
        height: 100%;
      }
      
      .card:hover .content::after {
        rotate: 8deg;
        top: 0;
        width: 100%;
        height: 100%;
      }
      /* vission */

      .vision{
        display: flex;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          background-color: #1f242d;
      }

      /* product */
      .product{
        background-color: #1f242d;
      }
      .card1 {
        margin: 50px;
        --bg-card:rgb(171, 255, 46);
        --primary: #6d28d9;
        --primary-800: #4c1d95;
        --primary-shadow: #2e1065;
        --light: #d9d9d9;
        --zinc-800: #18181b;
        --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
      
        position: relative;
      
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
      
        padding: 1rem;
        width: 30rem;
        background-color: var(--bg-card);
      
        border-radius: 1rem;
      }
      
      .image_container1 {
        overflow: hidden;
        cursor: pointer;
      
        position: relative;
        z-index: 5;
      
        width: 100%;
        height: 25rem;
        background-color: whitesmoke;
      
        border-radius: 0.5rem;
      }
      
      .image_container .image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      
        width: 3rem;
        fill: var(--light);
      }
      
      .title {
        overflow: clip;
      
        width: 100%;
      
        font-size: 1rem;
        font-weight: 600;
        color: black;
        text-transform: capitalize;
        text-wrap: nowrap;
        text-overflow: ellipsis;
      }
      
      .size {
        font-size: 0.75rem;
        color: black;
      }
      
      .list-size {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      
        margin-top: 0.25rem;
      }
      
      .list-size .item-list {
        list-style: none;
      }
      
      .list-size .item-list-button {
        cursor: pointer;
      
        padding: 0.5rem;
        background-color: var(--zinc-800);
      
        font-size: 0.75rem;
        color: black;
      
        border: 2px solid var(--zinc-800);
        border-radius: 0.25rem;
      
        transition: all 0.3s ease-in-out;
      }
      
      .item-list-button:hover {
        border: 2px solid var(--light);
      }
      .item-list-button:focus {
        background-color: var(--primary);
      
        border: 2px solid var(--primary-shadow);
      
        box-shadow: inset 0px 1px 4px var(--primary-shadow);
      }
      
      .action {
        display: flex;
        justify-content: space-around;
      
        gap: 1rem;
      }
      
      .price {
        font-size: 1.5rem;
        font-weight: 700;
        color: rgb(0, 0, 0);
      }
      
      .cart-button {
        cursor: pointer;
      
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;
      
        padding: 0.5rem;
        width: 80px;
        background-image: var(--bg-linear);
      
        font-size: 0.75rem;
        font-weight: 500;
        color: var(--light);
        text-wrap: nowrap;
      
        border: 2px solid hsla(262, 83%, 58%, 0.5);
        border-radius: 0.5rem;
        box-shadow: inset 0 0 0.25rem 1px var(--light);
      }
      
      .cart-button .cart-icon {
        width: 1rem;
      }
      
      /* contact */
      .contact{
        display: flex;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          background-color: #1f242d;
      }
      .form {
        height: 600px;
        width: 550px;
      display: flex;
      flex-direction: column;
      align-self: center;
      font-family: inherit;
      gap: 30px;
      padding-inline: 2em;
      padding-bottom: 0.4em;
      background-color: #171717;
      background-color: #1f242d;
      border-radius: 20px;
    }
    
    .form-heading {
      text-align: center;
      margin: 2em;
      color: #64ffda;
      font-size: 1.2em;
      background-color: transparent;
      align-self: center;
    }
    
    .form-field {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      border-radius: 10px;
      padding: 0.6em;
      border: none;
      outline: none;
      color: white;
      background-color: #171717;
      box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    }
    
    .input-field {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      color: #ccd6f6;
      padding-inline: 1em;
    }
    
    .sendMessage-btn {
      cursor: pointer;
      margin-bottom: 3em;
      padding: 1em;
      border-radius: 10px;
      border: none;
      outline: none;
      background-color: transparent;
      color: #64ffda;
      font-weight: bold;
      outline: 1px solid #64ffda;
      transition: all ease-in-out 0.3s;
    }
    
    .sendMessage-btn:hover {
      transition: all ease-in-out 0.3s;
      background-color: #64ffda;
      color: #000;
      cursor: pointer;
      box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    }
    
    .form-card1 {
      background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
      border-radius: 22px;
      transition: all 0.3s;
    }
    
    .form-card1:hover {
      box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
    }
    
    .form-card2 {
      border-radius: 0;
      transition: all 0.2s;
    }
    
    .form-card2:hover {
      transform: scale(0.98);
      border-radius: 20px;
    }
    
    .a{
        padding: 16px;
    }
    
/* footer */
ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #151414;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: greenyellow;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: greenyellow;
}
.footer-widget ul li {
display: inline-block;
 float: left; 
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: greenyellow;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: greenyellow;
  padding: 13px 20px;
  border: 1px solid greenyellow;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: greenyellow;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: greenyellow;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}

